<h2>All reviews for <%= @review.restaurant.name %></h2>

<div class="container">
  <% @restaurant.reviews.each do |review| %>
    <div class="row">

      <div class="col-xs-3">
        <p><strong><%= review.rating %></strong></p>
      </div>
      <div class="col-xs-8 col-xs-offset-1">
        <p><em><<%= review.content %></em></p>
      </div>
    </div>

  <% end %>
</div>
